
<nav > 
    <div class="site-title">
        <a href ="/"><h1> Course for  reminder</h1> </a>
        <p> Learning website</p>
    </div>
    <ul>
        <li><a href = "/"> Courses</a></li>
        <li><a href = "/about"> About</a></li>
        <li><a href = "/Courses/create"> New Course</a></li>
    </ul>
</nav>