<!DOCTYPE html>
<html  lang ="en">
    <%- include('./partials/head.ejs')  %>
   
<body>
    <%- include('./partials/nav.ejs')  %>
  

   <div class="about content">
      <h2>  About us</h2>
      <p> Nous sommes de simples lecteurs, des apprenants qui veulent transmettre le peu de savoir qu'ils ont.</p>
      <p> Nous esperons partagez, échanger avec vous pour la pérénité du savoir.</p>
   </div>

   <%- include('./partials/footer.ejs')  %>

</body>
</html>